.resource-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.upload-container {
  margin-top: 48px;
  margin-bottom: 300px;
}

.btn {
  background: #f2f0f0;
  color: gray;
  font-size: 18px;
  font-weight: bold;
  height: 120px;
  box-shadow: 2px 2px 2px 2px rgb(199, 199, 199);
}

.active {
  background: var(--primary-color);
}
