.trending-container {
  padding: 20px;
  text-align: center;
}

.title {
  font-weight: bold;
  margin-bottom: 20px;
}

.swiper-trending {
  padding: 10px 20px;
}

.slide-item {
  display: flex;
  justify-content: center;
}

.activity-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  background: #e0e0e0;
}

.activity-title {
  width: 100%;
  padding: 10px;
  font-weight: 500;
}
