.background {
    background-image: linear-gradient(
      rgba(49, 95, 77, 0.8),
      rgba(88, 23, 10, 0.8)
    ),
    url("../../../assets/bgspeaking.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: auto;
    width: 100%;
  }
  